.ipynb_checkpoints/
Kafka.html
Kafka.py
kafka_2.12-3.3.1.tgz
kafka_2.12-3.3.1/LICENSE
kafka_2.12-3.3.1/NOTICE
kafka_2.12-3.3.1/bin/
kafka_2.12-3.3.1/config/
kafka_2.12-3.3.1/libs/
kafka_2.12-3.3.1/licenses/
kafka_2.12-3.3.1/logs/
kafka_2.12-3.3.1/nohup.out
kafka_2.12-3.3.1/site-docs/
